@model Orcamento.Models.ProdutoItemModel
@{
    ViewData["Title"] = "Produto item";
}
<div class="py-5">
    <div class="container">

        <h1>@ViewBag.NomeProduto</h1>
        <hr />
        <div class="form-horizontal">
            <form method="post" asp-action="Edit" asp-controller="ProdutoItem" enctype="multipart/form-data">

                <input type="hidden" asp-for="idProduto" value="@ViewBag.idProduto" class="form-control" />
                <input type="hidden" asp-for="idProdutoItem" value="@ViewBag.idProdutoItem" class="form-control" />
                

                <div class="row">
                    <div class="col-lg-4">

                        <div class="mb-1">
                            <label class="form-label mt-3">Material / Serviço:</label>
                            @Html.DropDownList("idItem",
                                     ViewBag.Item,
                                     "Selecione o item do produto",
                                     new { @class = "form-control", 
                                           @onchange = "javascript:onChangeFunction();" }
                                     )
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-1">
                            <label class="form-label mt-3">Nome:</label>
                            <input type="decimal" asp-for="Nome" class="form-control shadow-none" />
                            <span class="text-danger" asp-asp-validation-for="Nome"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-1">
                        <div class="mb-1">
                            <label class="form-label mt-3">Quantidade:</label>
                            <input type="decimal" asp-for="Quantidade" class="form-control shadow-none" />
                            <span class="text-danger" asp-asp-validation-for="Quantidade"></span>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-lg-2">
                        <div class="mb-1">
                            <label class="form-label mt-3">Valor:</label>
                            <input type="decimal" asp-for="Valor" class="form-control shadow-none" />
                            <span class="text-danger" asp-asp-validation-for="Valor"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-1">
                            <label class="form-label mt-3">Observacao:</label>
                            <textarea type="text" asp-for="Observacao" class="form-control shadow-none"> </textarea>
                            <span class="text-danger" asp-asp-validation-for="Observacao"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-2">

                        <div class="mb-1">
                            <label class="form-label mt-3">Status:</label>
                            @Html.DropDownList("idStatus",
                                     ViewBag.Status,
                                     "Selecione o Status",
                                     new
                                     {
                                         @class = "form-control"
                                     }
                                     )
                        </div>
                    </div>
                </div>


                <hr />
                <row>
                    <a href="@Url.Action("Edit", new { id = @ViewBag.idProduto, Controller = "Produto"})" title='Cancelar'>
                        <input type="button" value="Cancelar" class="btn btn-secondary" />
                    </a>
                    &nbsp;
                    &nbsp;
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </row>

            </form>

        </div>
    </div>
</div>


<script type="text/javascript">


    function onChangeFunction(){


        var idtem = document.getElementById("idItem");
        var gettext = idtem.options[idtem.selectedIndex].innerHTML;
        var comprimento = gettext.length;
        var inicio = gettext.indexOf("|") + 1;
        var valor = gettext.substring(inicio, comprimento);
        var nome  = gettext.substring(0, inicio - 1);

        document.getElementById("Valor").value = valor;
        document.getElementById("Nome").value = nome;

    }

</script>