
<div class="row g-3">
    <div class="col-10">
        <div class="text-left">
        <h1 class="display-4">Administração</h1>
        </div>
    </div>
    <div class="col-2">
        <div class="text-left">
            <a href="  @Url.Action("Index", "Home")   " title='Usuários' style="text-decoration:none">
            <h3><i class="bi bi-x-circle-fill" title="Retornar"></i></h3> 
            </a>
        </div>
    </div>
</div>


<div class="text-center">

    <div class="row g-3">


        <div class="col-4">
            <a href="  @Url.Action("Index", "Usuario")   " title='Usuários' style="text-decoration:none">
                <div class="cardhome text-center border-0 shadow rounded-0 p-3 my-3 mx-" style="max-width: 22rem; min-height:16rem;">
                    <div class="icon">
                        <h1> <i class="bi bi-person-badge" title="Usuários"></i></h1>
                    </div>
                    <div class="card-body">
                        <p class="card-title fw-bold">Usuários</p>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-4">
            <a href="@Url.Action( "IndexMaterial", "Item")" title='Materiais' style="text-decoration:none">
                <div class="cardhome text-center border-0 shadow rounded-0 p-3 my-3 mx-" style="max-width: 22rem; min-height:16rem;">
                    <div class="icon">
                        <h1><i class="bi bi-boxes" title="Materiais"></i></h1>
                    </div>
                    <div class="card-body">
                        <p class="card-title fw-bold">Materiais</p>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-4">
            <a href="@Url.Action("IndexServico", "Item")" title='Serviços' style="text-decoration:none">
                <div class="cardhome text-center border-0 shadow rounded-0 p-3 my-3 mx-" style="max-width: 22rem; min-height:16rem;">
                    <div class="icon">
                        <h1><i class="bi bi-person-fill-gear" title="Serviços"></i></h1>
                    </div>
                    <div class="card-body">
                        <p class="card-title fw-bold">Serviços</p>
                    </div>
                </div>
            </a>
        </div>



        <div class="col-4">
            <a href="@Url.Action("Index", "ProdutoItem")" title='Item de Produto' style="text-decoration:none">
                <div class="cardhome text-center border-0 shadow rounded-0 p-3 my-3 mx-" style="max-width: 22rem;min-height:16rem;">
                    <div class="icon">
                        <h1><i class="bi bi-upc-scan" title="Item de Produto"></i></h1>
                    </div>
                    <div class="card-body">
                        <p class="card-title fw-bold">Item de Produto</p>
                    </div>
                </div>
            </a>
        </div>

    </div>

</div>

