<!DOCTYPE html>
<html lang="en">
<head>

    <title>Orcamentos on-line - Roma Embalagens</title>

    <meta name="description" content="Orçamento on-line">
    <meta name="keywords" content="Orçamentos, budget, on-line, fácil, flexivel">
    <meta name="author" content="Gilberto Anderson">



    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Roma Embalagens</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Orcamento.styles.css" asp-append-version="true" />

    <!-- Última versão CSS compilada e minificada -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Orçamentos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li>@Html.ActionLink("Orçamento", "Index", "Orcamento", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Ordem Serviço", "Index", "OrdemServico", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Clientes", "Index", "Cliente", new { area = "" }, new { @class = "nav-link" })</li>



                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                                @Html.ActionLink("Produtos", "Index", "Produto", new { area = "" }, new { @class = "dropdown-item" })

                                @Html.ActionLink("Produtos Item", "Index", "ProdutoItem", new { area = "" }, new { @class = "dropdown-item" })

                                @Html.ActionLink("Materiais", "IndexMaterial", "Item", new { area = "" }, new { @class = "dropdown-item" })

                                @Html.ActionLink("Serviços", "IndexServico", "Item", new { area = "" }, new { @class = "dropdown-item" })


                                @Html.ActionLink("Usuários", "Index", "Usuario", new { area = "" }, new { @class = "dropdown-item" })


                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            DBrasil Soluções &copy; 2025 - Orçamentos
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




@section Scripts {

    <script type="text/javascript">


        $(document).ready(function () {
            $('.dropdown-submenu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });


    </script>
}